// default html font-size (px)
$default-fs: 18;

// Media breakpoints
$breakpoint-1: 1300px;
$breakpoint-2: 1020px;
$breakpoint-3: 790px;
$breakpoint-4: 570px;
$breakpoint-5: 420px;

:root{
    // Without padding container width
    --container-width: 1200px;
    // paddings
    --container-padding: 15px;
    --default-ff: 'NT Somic';
    --default-fw: 400;
    --main-color: #1c0fb1;
    --default-text-color: var(--main-color);
    --sub-purple: #2d164a;
    --input-border: #E2E2E2;
    --placeholder: #909090;
    --error: #B92121;
    --placeholder-error: #DF8F8F;
    --disabled-bg: #EFEFEF;
    --input-shadow: rgba(122, 154, 238, 0.25);
    --input-error-shadow: rgba(185, 33, 33, 0.25);
}
