@import url("./fonts.css");
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a, a:link, a:visited, a:hover {
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  text-align: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

:root {
  --container-width: 1280px;
  --container-padding: 15px;
  --default-ff: 'NT Somic';
  --default-fw: 400;
  --main-color: #1c0fb1;
  --default-text-color: var(--main-color);
  --sub-purple: #2d164a;
  --dark-purple: #3E1D67;
  --input-border: #E2E2E2;
  --admin-menu: #C2D2F2;
  --placeholder: #909090;
  --error: #B92121;
  --placeholder-error: #DF8F8F;
  --disabled-bg: #EFEFEF;
  --admin-bg: #ECF4FF;
  --input-shadow: rgba(122, 154, 238, 0.25);
  --input-error-shadow: rgba(185, 33, 33, 0.25); }

.auth, .auth__container, .auth-form, .auth-form__inputs, .auth-form__buttons, .auth-form__errors, .mainLayout, .admin-menu, .admin__users, .admin__section {
  display: flex;
  flex-direction: column; }

.auth-form__link, .auth-form__link:visited, .auth-form__link:link, .header__nav, .admin__container, .admin__buttons, .admin-section__inputBlock {
  display: flex;
  flex-direction: row;
  align-items: center; }

html {
  font-size: 18px;
  font-family: var(--default-ff);
  font-weight: var(--default-fw);
  color: var(--default-text-color); }

.stop-scroll {
  overflow: hidden; }

.container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  padding: 0 var(--container-padding);
  margin: 0 auto; }

.auth {
  min-width: 98vw;
  min-height: 100vh;
  background-image: url("/src/img/background-auth.png");
  background-repeat: no-repeat;
  background-size: cover;
  row-gap: 0px;
  justify-content: center;
  align-items: center; }
  .auth__container {
    row-gap: 11px;
    width: calc(416px + 15px*2);
    padding: 0 15px; }
  .auth__logo {
    align-self: center; }
  .auth__form-container {
    background-color: #FFF;
    border-radius: 15px;
    padding: 25px 25px 10px; }
  .auth__response {
    color: var(--error);
    font-size: 16px;
    font-weight: var(--default-fw);
    line-height: normal;
    font-family: var(--default-ff);
    text-align: center;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%); }
  .auth__title {
    text-align: center;
    margin-bottom: 36px;
    color: var(--default-font-color);
    font-size: 32px;
    font-weight: var(--default-fw);
    line-height: normal;
    font-family: var(--default-ff); }
  .auth__text {
    color: var(--sub-purple);
    font-size: 14px;
    font-weight: var(--default-fw);
    line-height: normal;
    font-family: var(--default-ff); }

.auth-form {
  row-gap: 66px;
  margin-bottom: 31px; }
  .auth-form__inputs {
    row-gap: 14px; }
  .auth-form__inputBlock {
    position: relative; }
  .auth-form__input {
    padding: 17px 22px;
    box-shadow: 0 0 0 1px var(--input-border);
    border-radius: 15px;
    align-self: stretch;
    width: 100%;
    transition: .2s;
    color: var(--placeholder);
    font-size: 15px;
    font-weight: var(--default-fw);
    line-height: normal;
    font-family: var(--default-ff); }
    .auth-form__input::placeholder {
      color: var(--placeholder);
      font-size: 15px;
      font-weight: var(--default-fw);
      line-height: normal;
      font-family: var(--default-ff); }
    .auth-form__input:hover {
      box-shadow: 0 4px 6px 0 var(--input-shadow); }
    .auth-form__input:focus {
      box-shadow: 0 0 0 2px var(--main-color);
      color: var(--sub-purple); }
    .auth-form__input_error {
      box-shadow: 0 0 0 1px var(--error);
      color: var(--error); }
      .auth-form__input_error::placeholder {
        color: var(--placeholder-error); }
      .auth-form__input_error:hover {
        box-shadow: 0 4px 6px 0 var(--input-error-shadow); }
      .auth-form__input_error:focus {
        box-shadow: 0 0 0 2px var(--error); }
  .auth-form__link, .auth-form__link:visited, .auth-form__link:link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    column-gap: 7px;
    align-items: flex-start;
    color: var(--default-font-color);
    font-size: 18;
    font-weight: var(--default-fw);
    line-height: normal;
    font-family: var(--default-ff); }
  .auth-form__back {
    position: relative;
    right: 14px; }
  .auth-form__forget {
    font-size: 13px;
    text-decoration: underline;
    margin-left: 15px;
    margin-top: -8px; }
  .auth-form__buttons {
    row-gap: 14px; }
  .auth-form__eye {
    position: absolute;
    top: 21px;
    right: 21px; }
  .auth-form__button {
    padding: 12px;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 0 1px var(--main-color);
    font-size: 20px; }
    .auth-form__button_main {
      background-color: var(--main-color);
      font-weight: 500;
      color: #fff; }
      .auth-form__button_main:disabled {
        background-color: var(--disabled-bg);
        color: var(--placeholder);
        box-shadow: none; }
  .auth-form__errors {
    row-gap: 0px;
    margin-left: 15px;
    margin-top: 5px; }
  .auth-form__error {
    color: var(--error);
    font-size: 11px;
    font-weight: var(--default-fw);
    line-height: normal;
    font-family: var(--default-ff); }
  .auth-form__text {
    color: var(--sub-purple);
    font-size: 16px;
    font-weight: var(--default-fw);
    line-height: normal;
    font-family: var(--default-ff); }
    .auth-form__text .auth-form__forget {
      color: var(--main-color);
      font-size: inherit;
      margin: 0; }
    .auth-form__text_center {
      text-align: center; }

.registration {
  position: relative; }
  .registration .auth-form {
    row-gap: 33px; }

.login {
  position: relative; }

.forget .auth__title {
  font-size: 30px; }
.forget .auth-form {
  row-gap: 26px;
  margin-bottom: 86px; }

.confirm .auth__text {
  margin-bottom: 58px; }
.confirm .auth-form__buttons .auth__text {
  text-align: center;
  margin: 0; }

.page__mainLayout {
  min-width: 98vw;
  min-height: 100vh; }

.mainLayout {
  background-image: url("/src/img/background-auth.png");
  background-repeat: no-repeat;
  background-size: cover; }

.mainLayout__header {
  padding: 37px 0; }

.header__container {
  display: flex;
  justify-content: space-between; }
.header__logo {
  max-width: 164px; }
.header__nav {
  column-gap: 13px; }

.header-nav__button {
  padding: 7px 15px;
  border-radius: 150px;
  box-shadow: 0 0 0 1px var(--dark-purple);
  color: var(--dark-purple);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  font-family: var(--default-ff); }

.mainLayout {
  row-gap: 0px; }

.mainLayout__admin {
  flex-grow: 2;
  background-color: var(--admin-bg);
  padding: 35px 0; }

.admin__container {
  column-gap: 55px;
  align-items: flex-start; }
.admin-menu {
  padding: 17px 10px;
  background-color: #FFF;
  row-gap: 0px;
  flex-grow: 1;
  max-width: 200px;
  border-radius: 10px;
  border: 1px solid var(--admin-menu); }
  .admin-menu__item {
    padding: 10px 16px;
    color: var(--placeholder);
    font-size: 16px;
    font-weight: var(--default-fw);
    line-height: normal;
    font-family: var(--default-ff);
    letter-spacing: -0.02em; }
    .admin-menu__item_active {
      color: var(--dark-purple); }
  .admin-menu__item:not(:last-child) {
    border-bottom: 2px solid #DCE6F9; }

.admin__users {
  row-gap: 0px;
  flex-grow: 1;
  height: calc(100vh - 110px - 35px * 2);
  position: relative;
  z-index: 222; }
.admin__title {
  color: var(--dark-purple);
  font-size: 26px;
  font-weight: var(--default-fw);
  line-height: normal;
  font-family: var(--default-ff);
  margin-bottom: 8px; }
.admin__section {
  row-gap: 18px;
  padding: 26px 0; }
.admin__section:not(:last-child) {
  border-top: 2px solid var(--admin-menu); }
.admin__buttons {
  flex-grow: 1;
  column-gap: 16px;
  align-items: flex-end;
  margin-top: 20px; }
.admin__button {
  padding: 8px 33px;
  border-radius: 150px;
  box-shadow: 0 0 0 1px var(--main-color);
  color: var(--default-font-color);
  font-size: 16px;
  font-weight: var(--default-fw);
  line-height: normal;
  font-family: var(--default-ff); }
  .admin__button_active {
    color: #FFF;
    background-color: var(--main-color); }

.admin-section___title {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  font-family: var(--default-ff); }
.admin-section__inputBlock {
  width: 100%;
  column-gap: 19px;
  justify-content: space-between; }
.admin-section__input {
  flex-grow: 1;
  max-width: 854px;
  padding: 7px 24px;
  background-color: #FFF;
  box-shadow: 0 0 0 2px var(--main-color);
  border-radius: 100px; }
.admin-section__button {
  padding: 8px 33px;
  border-radius: 150px; }
  .admin-section__button_main {
    color: #FFF;
    background-color: var(--main-color); }
.admin-section__text {
  color: var(--main-color);
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  font-family: var(--default-ff); }

/*# sourceMappingURL=index.css.map */
